:root {
  --pink: #f14e95;
  --bg: #0a0a0a;
  --shadow-white: 0 2px 2px rgba(255, 255, 255, 0.5);
  --shadow-dark: 0 2px 2px rgba(0, 0, 0, 0.5)
}

body {
  font-size: 1.2rem;
  font-family: "Alegreya Sans", sans-serif;
  min-height: 2000px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg-wedding.jpg);
  z-index: -1;
}

.hero {
  position: relative;
  min-height: 100vh;
}

.hero h1,
.hero h4,
.hero p {
  text-shadow: var(--shadow-white);
}

.hero h1 {
  font-family: "Dancing Script", cursive;
  font-size: 4rem;
  color: var(--bg);
}

.hero p {
  font-size: 1.4rem;
  color: var(--bg);
}

.hero h4 {
  font-size: 1.6rem;
  color: var(--bg);
}

.hero a {
  background-color: white;
  color: var(--pink);
  box-shadow: var(--shadow-dark);
}

.hero a:hover {
  background-color: var(--pink);
  color: white;
}

/* Media Query */
/* Laptops */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  .simply-countdown > .simply-section {
    padding: 70px;
  }
}

/* Tablets */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .simply-countdown > .simply-section {
    padding: 60px;
    margin: 5px;
  }
}

/* Mobile Phones */
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }

  .simply-countdown > .simply-section {
    padding: 45px;
    margin: 3px;
  }
}
